@font-face {
    font-family: "Iranyekan";
    font-style: normal;
    font-weight: bold;
    font-display: block;
    src: url("/fonts/iranyekan/eot/iranyekanwebbold.eot");
    src: url("/fonts/iranyekan/eot/iranyekanwebbold.eot?#iefix") format("embedded-opentype"),
        /* IE6-8 */
        url("/fonts/iranyekan/woff2/iranyekanwebbold.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
        url("/fonts/iranyekan/woff/iranyekanwebbold.woff") format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url("/fonts/iranyekan/ttf/iranyekanwebbold.ttf") format("truetype");
}

@font-face {
    font-family: "Iranyekan";
    font-style: normal;
    font-weight: 300;
    font-display: block;
    src: url("/fonts/iranyekan/eot/iranyekanweblight.eot");
    src: url("/fonts/iranyekan/eot/iranyekanweblight.eot?#iefix") format("embedded-opentype"),
        /* IE6-8 */
        url("/fonts/iranyekan/woff2/iranyekanweblight.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
        url("/fonts/iranyekan/woff/iranyekanweblight.woff") format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url("/fonts/iranyekan/ttf/iranyekanweblight.ttf") format("truetype");
}

@font-face {
    font-family: "Iranyekan";
    font-style: normal;
    font-weight: normal;
    font-display: block;
    src: url("/fonts/iranyekan/eot/iranyekanwebregular.eot");
    src: url("/fonts/iranyekan/eot/iranyekanwebregular.eot?#iefix") format("embedded-opentype"),
        /* IE6-8 */
        url("/fonts/iranyekan/woff2/iranyekanwebregular.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
        url("/fonts/iranyekan/woff/iranyekanwebregular.woff") format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url("/fonts/iranyekan/ttf/iranyekanwebregular.ttf") format("truetype");
}

@font-face {
    font-family: "IranyekanNumeral";
    font-style: normal;
    font-weight: bold;
    font-display: block;
    src: url("/fonts/iranyekan-numeral/eot/iranyekanwebbold(fanum).eot");
    src: url("/fonts/iranyekan-numeral/eot/iranyekanwebbold(fanum).eot?#iefix") format("embedded-opentype"),
        /* IE6-8 */
        url("/fonts/iranyekan-numeral/woff2/iranyekanwebbold(fanum).woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
        url("/fonts/iranyekan-numeral/woff/iranyekanwebbold(fanum).woff") format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url("/fonts/iranyekan-numeral/ttf/iranyekanwebbold(fanum).ttf") format("truetype");
}

@font-face {
    font-family: "IranyekanNumeral";
    font-style: normal;
    font-weight: 300;
    font-display: block;
    src: url("/fonts/iranyekan-numeral/eot/iranyekanweblight(fanum).eot");
    src: url("/fonts/iranyekan-numeral/eot/iranyekanweblight(fanum).eot?#iefix") format("embedded-opentype"),
        /* IE6-8 */
        url("/fonts/iranyekan-numeral/woff2/iranyekanweblight(fanum).woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
        url("/fonts/iranyekan-numeral/woff/iranyekanweblight(fanum).woff") format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url("/fonts/iranyekan-numeral/ttf/iranyekanweblight(fanum).ttf") format("truetype");
}

@font-face {
    font-family: "IranyekanNumeral";
    font-style: normal;
    font-weight: normal;
    font-display: block;
    src: url("/fonts/iranyekan-numeral/eot/iranyekanwebregular(fanum).eot");
    src: url("/fonts/iranyekan-numeral/eot/iranyekanwebregular(fanum).eot?#iefix") format("embedded-opentype"),
        /* IE6-8 */
        url("/fonts/iranyekan-numeral/woff2/iranyekanwebregular(fanum).woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
        url("/fonts/iranyekan-numeral/woff/iranyekanwebregular(fanum).woff") format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url("/fonts/iranyekan-numeral/ttf/iranyekanwebregular(fanum).ttf") format("truetype");
}




body {
    margin: 0;
    font-family: "Iranyekan !important";
    padding: 0px;
    background: "#E9E9E9 !important",
}